@font-face {
    font-family: 'Special Elite';
    src: url("../../assets/fonts/special-elite/SpecialElite-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/oswald/Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
}

:root {
    --font-title: 'Special Elite', monospace;
    --bg-color: #0c0c0c;
    --main-text: #e0e0e0;
    --accent-red: #da0012;
    --secondary-text: #777;
}